h1, p, {
	text-align: center;
}

.header {
	width: 100%;
	padding:10px;
}

.clrbtn{
	border-radius: 20px;
	border: 2px solid rgb(138, 176, 73);
	text-align: center;
	padding:5px 10px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	/* this width is currently bigger than the text*/
}

.logo{
	background-image: url("icon.png");
	background-size:cover;
	width: 30px;
	height: 30px;
	position: absolute;
	left:20;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right{
	position: absolute;
	right: 0px;
}

.bkgpic {
	background-image: url("icon.png");
	background-size:cover;
	height: 70px;
	
}
