body {
	font-family: 'Varela Round', sans-serif;
	font-size: small;
	text-align: center;
}

a {
	text-decoration: none;
}

h4 {
	color: rgb(138, 176, 73);
}

blockquote {
	font-family: 'Oxygen', sans-serif;
	font-weight: bold;
}

.header {
	width: 100vw;
	padding:10px;
}

.header div:nth-child(2n){
	position: absolute;
	right: 30px;
}

.clrbtn{
	border-radius: 20px;
	border: 2px solid rgb(138, 176, 73);
	text-align: center;
	padding:5px 10px;
	cursor: pointer;
	clear: both;
}

.logo{
	background-image: url("icon.png");
	background-size:cover;
	width: 30px;
	height: 30px;
	float: left;
}

.center { /*grabbed this from w3 for centering */
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#profpic {
	width: 150px;
}

.bkgpic { /*this is the picture collage and icon*/
	background-image: url("icon.png");
	background-size:cover;
}

.profile-image-bg{ /*added to make bckg for profile img*/
	background-image:url("https://images.unsplash.com/photo-1547414887-fa33244611b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
	background-size:cover;
	width:150px;
	height:150px;
	border-radius:50%;
	margin-left: auto;
	margin-right: auto;	
}

.greenpnl{
	background-color: rgb(138, 176, 73);
	text-align: center;
	color: white;
	padding: 75px 250px 130px;
}

.overlap{
	margin-right: auto;
	margin-left: auto;
	background-image: url("white.jpg");
	background-size: cover;
	border-radius: 10px;
	position: relative;
	top:-65px;
	z-index: 6;
	padding: 5px 15px;
	height: 50vh;
}

.column{
	float: left;
	display: block;
	padding: 25px;
	width: 25%;
}

.projectbtn {
	border-radius: 10px;
	display: block;
	float: left;
	width:18vw;
	overflow: hidden;
	margin: 10px;
}
.container35 {
	clear: both;
	width: 35%;
	margin: auto;
}
.container60 {
	clear: both;
	width: 60%;
	margin: auto;
}

.container80 {
	clear: both;
	width: 80%;
	margin: auto;
}

.blkoverlap{
	margin-right: auto;
	margin-left: auto;
	background-image: url("midnight.jpg");
	background-size: cover;
	border-radius: 10px;
	position: relative;
	bottom:-65px; /*fix this later*/
	z-index: 5;
	padding: 5px 15px;
	height: 50vh;
}


/*sibling classes allow you to define things when you see two classes next to each other*/
.project--buttons--row + .project--buttons--row { 
	margin-top: 20px;
	clear: both;
}

.projectbtn + .projectbtn {
	margin-left: 10px;
}

.projectbtn + .clrbtn {
	margin-top: 50px;
}

.toppad {
	margin-top: 180px;
}
.btmpad {
	margin-bottom: 45px;
}

.column + .column {
	margin-left: 10px;
}